<div class="js-task-wrapper-template" style="display: none">
    <div class="task-card js-task-card message-info task-status js-task-status task-name_status">
        <div class="name">
            #PARENT_NAME#
            <a href="#TASK_URL#" class="js-task-name">
                #TASK_NAME#
            </a><b class="red-text">#DEADLINE#</b><br/>
            <div class="task-info-time task_play-wrap">
{#                <span class="dropdown task-card-time">#}
{#                    <span class="task-plantime"></span>#}
{#                </span>#}
            </div><!--task-info-time-->
        </div>
        <div class="executor js-task-executor dropdown" rel="">
            <a data-toggle="dropdown" class="js-select_resp js-avatar-container avatar_container" data-size="50">
            </a>
        </div>
        <div class="properties-icon js-options_popup">

            <a class="btn_manage dropdown-toggle js-task_menu">
                <span class="fa fa-gear" title="Действия" style="font-size: 20px"></span>
            </a>
            <a class="btn_manage task_manage_btn-done js-task_done">
                <span class="fa fa-check" title="Утвердить расчет" style="font-size: 22px"></span>
            </a>
        </div>
    </div>
</div>
