{% load get_settings %}
{% load number_ending %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Rubedite</title>
</head>
<style>
    @font-face {
        font-family: "Light";
        src: url("{% get_settings "HTTP_ROOT_URL" %}/static/fonts/FiraSansCondensed/FiraSansCondensed-Light.woff");
    }

    @font-face {
        font-family: "Bold";
        src: url("{% get_settings "HTTP_ROOT_URL" %}/static/fonts/FiraSansCondensed/FiraSansCondensed-Bold.woff");
    }
</style>

<body style="box-sizing: border-box;background-color: #1a1a1a;padding: 40px 0;margin: 0;">
<table class="table" style="box-sizing: border-box;width:90vw;padding:0 2vw;max-width:888px;margin: 0 auto;border: none;border-spacing: 0;">
    {% if show_rubedite %}
        <tr>
            <td style="box-sizing: border-box;position: relative;width: 100%;">
                <div style="box-sizing: border-box;width:100%;padding: 0 32px;vertical-align: middle;margin-bottom: 32px;">
                    <img src="{% get_settings "HTTP_ROOT_URL" %}/static/img/emails/logo.png" alt="" style="box-sizing: border-box;width:96px;vertical-align: middle;">
                    <a href="{% get_settings "HTTP_ROOT_URL" %}/?project={{ sprint.project.id }}" style="box-sizing: border-box;display: block;float: right;line-height: 96px;text-decoration: none;">
                        <span style="box-sizing: border-box;font-family: 'Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:bold; color: #FF0000;font-size: 18px;margin-right: 5px;vertical-align: middle;">
                            Перейти к проекту
                        </span>
                        <img src="{% get_settings "HTTP_ROOT_URL" %}/static/img/emails/arrow-icon.png" alt="" style="box-sizing: border-box;width:24px;height:24px;vertical-align: middle;">
                    </a>
                </div>
            </td>
        </tr>
    {% endif %}
    <tr>
        <td style="box-sizing: border-box;position: relative;width: 100%;">
            <div style="box-sizing: border-box;width:100%;padding: 0 32px;font-family: 'Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;color: #fff;font-size: 24px;margin-bottom: 32px;">
                {{ sprint.name }} в проекте {{ sprint.project.name }} завершен. Пожалуйста подтвердите правильность расчетов.
            </div>
        </td>
    </tr>
    <tr>
        <td style="box-sizing: border-box;position: relative;width: 100%;">
            <div style="box-sizing: border-box;width:100%;padding: 0 32px;">
                <table>
                    <tr>
                        <td>
                            <div style="font-family: 'Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;color: #fff;font-size: 16px;">
                                Позиция
                            </div>
                        </td>
                        <td>
                            <div style="font-family: 'Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;color: #fff;font-size: 16px;">
                                Начисленно
                            </div>
                        </td>
                        <td>
                            <div style="font-family: 'Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;color: #fff;font-size: 16px;">
                                За просрочку
                            </div>
                        </td>
                        <td>
                            <div style="font-family: 'Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;color: #fff;font-size: 16px;">
                                Итог
                            </div>
                        </td>
                    </tr>
                    {% for task in tasks %}
                        <tr>
                            <td>
                                <div style="font-family: 'Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;color: #fff;font-size: 16px;">
                                    {{ task.name }}
                                </div>
                            </td>
                            <td>
                                <div style="font-family: 'Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;color: #fff;font-size: 16px;">
                                    {{ task.credit }}
                                </div>
                            </td>
                            <td>
                                <div style="font-family: 'Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;color: #fff;font-size: 16px;">
                                    {{ task.charge }}
                                </div>
                            </td>
                            <td>
                                <div style="font-family: 'Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;color: #fff;font-size: 16px;">
                                    {{ task.total }}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td style="box-sizing: border-box;position: relative;width: 100%;margin-bottom: 10px;">
            <p style="box-sizing: border-box;width:100%;padding: 0 32px;font-family: 'Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;color: #fff;font-size: 18px;line-height: 1.5;">
                Подтвердите правильность расчетов:
            </p>
            <p style="box-sizing: border-box;width:100%;padding: 0 32px;font-family: 'Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;color: #fff;font-size: 18px;line-height: 1.5;">
                <a href=" {% get_settings "HTTP_ROOT_URL" %}{% url 'milestone_dev_approve' id=sprint.id %}" style="box-sizing: border-box;color:#fff;font-family: 'Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:bold; text-decoration: none;">Правильно</a>
                <a href=" {% get_settings "HTTP_ROOT_URL" %}{% url 'milestone_dev_not_approve' id=sprint.id %}" style="box-sizing: border-box;color:#fff;font-family: 'Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:bold; text-decoration: none;">Неправильно</a>
            </p>
        </td>
    </tr>
    <tr>
        <td style="box-sizing: border-box;position: relative;width: 100%;">
            <div style="box-sizing: border-box;width:100%;padding: 0 32px;">
                <p style="box-sizing: border-box;width:100%;font-family: 'Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;color: #fff;font-size: 18px;line-height: 1.5;margin: 0;padding-bottom: 20px;border-bottom: 1px solid #444;">
                    Данное письмо сгенерировано автоматически.
                </p>
            </div>
        </td>
    </tr>
    {% if show_rubedite %}
        <tr>
            <td style="box-sizing: border-box;position: relative;width: 100%;">
                <div style="box-sizing: border-box;width:100%;padding: 20px 32px 0 32px;">
                    <a href="https://rubedite.ru" style="box-sizing: border-box;text-decoration: none;line-height: 24px;margin-right: 10px;">
                        <img src="{% get_settings "HTTP_ROOT_URL" %}/static/img/emails/globe-icon.png" alt="" style="box-sizing: border-box;width: 24px;height: 24px;object-fit: contain;margin-right: 5px;vertical-align: middle;">
                        <span style="box-sizing: border-box;font-family: 'Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;color: #fff;font-size: 18px;
                        line-height: 24px;display: inline-block;vertical-align: middle;">
                            rubedite.ru
                        </span>
                    </a>
                    <a href="mailto:{% get_settings "INFO_EMAIL" %}" style="box-sizing: border-box;text-decoration: none;line-height: 24px;">
                        <img src="{% get_settings "HTTP_ROOT_URL" %}/static/img/emails/mail-icon.png" alt="" style="box-sizing: border-box;width: 24px;height: 24px;object-fit: contain;margin-right: 5px;vertical-align: middle;">
                        <span style="box-sizing: border-box;font-family: 'Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;color: #fff;font-size: 18px;
                        line-height: 24px;display: inline-block;vertical-align: middle;">
                            {% get_settings "INFO_EMAIL" %}
                        </span>
                    </a>
                </div>
            </td>
        </tr>
    {% endif %}
</table>
</body>
</html>